body {
  background-color: gainsboro;
  height: 100%;
}
h1 {
  text-align: center;
}
header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  top: 0;
  background-image: linear-gradient(to right, #48466d, #5d5a8c);
  background-color: #5d5a8c;
}
#logo {
  width: 350px;
  border-radius: 45px;
}
button {
  border-radius: 15px;
  padding: 5px;
}
.display-btn {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 5px;
  margin-left: 5px;
}
#about-btn {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 5px;
  margin-left: 105px;
}
.button-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
}
.button-div button {
  font-size: 30px;
}
.primary-div {
  margin-top: 210px;
  padding: 25px;
}
h2 {
  text-align: center;
}
#new-form-div {
  display: flex;
  margin-top: 10px;
  padding-left: 20px;
}
#new-form input{
  width: 250px;
}
label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.condo-container {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.condo-card {
  display: flex;
  flex-direction: column;
  border: solid 1px #4c102a;
  padding: 10px;
  margin: 5px;
  width: 400px;
  opacity: .65;
  background-color: #fff7e2;
  border-radius: 25px;
  color: #4c102a;
  box-shadow: 2px 2px 2px #4c102a;
}
.condo-card:hover{
  opacity: 1;
}
.condo-card img{
  width: 50%;
  align-self: center;
}
.condo-card h4, h3{
  margin: 5px;
}
.condo-card h3 {
  text-decoration: underline;
}
#edit-btn {
  align-self: center;
}
.edit-div {
  display: flex;
  margin-top: 10px;
}
.edit-div form input{
  width: 250px;
}
#save-changes-btn {
  width: 100%;
}
.delete {
  display: block;
  margin-top: 35px;
  width: auto;
  margin-left: auto;
  margin-right: auto;

}
#cancel-btn {
  display: block;
  margin-top: 15px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
footer {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  justify-content: center;
  padding-bottom: 10px;
  margin-bottom: 0;
  margin-top: 20px;
}
